@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700&display=swap');
@import '@fiap/shared/styles/tokens.css';
@import '@fiap/shared/styles/primitives.css';

html, body { margin: 0; font-family: var(--font-body); background: var(--fiap-surface); color: var(--fiap-color-text); }
* { box-sizing: border-box; }
